*~
build
scenes
evaluation/plots
evaluation/results/*/*
!evaluation/results/*/run.sh
evaluation/scripts/python-scripts/testcases
evaluation/scripts/redo_all_plots.sh
src/build
src/bin
src/objs
*.obj
*.exr
.sconsign.dblite
.vscode
.DS_Store